# This matches 'venv' in any subfolder
**/venv/
**/__pycache__/
*.pyc

# This matches any sqlite3 database in any project
**/*.sqlite3

# This matches any media folder in any project
**/media/

# Environment variables
.env